<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Booking Status</title>
    <link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
	/>
</head>
<body>
    		<nav class="navbar navbar-expand-lg navbar-light">
			<img style="border-radius: 50%; width: 5%" src="./velar.png" alt="" />
			<a class="navbar-brand pl-2" id="one" href="#"> Tours & Travels</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="./index.html">Home </a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/booking">Booking</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/cancel">Cancel Booking</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/status">Status Update</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/update">Updations</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input
						class="form-control mr-sm-2"
						type="search"
						placeholder="Search"
						aria-label="Search"
					/>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Search
					</button>
				</form>
			</div>
		</nav>

    <form class="container">
<br>
{{> updateimage}}
<br> <br>
        <p class="alert alert-primary" role="alert">{{statusChangeText}}</p>

          <div class="form-group">
    <label for="inputNumber">Booking Number :</label>
    <input type="text" class="form-control" id="inputNumber" placeholder="VTTB984612WIN">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Any suggestions for us :</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Suggestions">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Feedback :</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Feedback">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Any recommendations :</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Any text">
  </div>
  <div class="form-group">
    <label for="inputReason">Reason for travel :</label>
    <input type="text" class="form-control" id="inputReason" placeholder="Fever, Family emergency etc...">
  </div>

<br>
  <button type="submit" class="btn btn-primary">Update Now</button>
</form>
    <br><br>
    {{> footer}}

    {{!-- Bootstrap Scripts --}}
    		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
</body>
</html>